<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Website - About</title>
	<link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
	<div id="main">
		<div id="abt">
			<h1>Rodje Ross</h1>
			<br>
			<p>I am a bit concerned about my lack of work experience in the IT world. I have never been temporary employed
			or nor have I been an intern in a tech related company. I am worried that this might put me at an disadvantage when 
			it is time for me to seek employment. Hopefully I can gather enough knowledge from the courses that I am currently doing 
			so I will be able to attempt various exams to gain certifications in Database and Network administration.</p>
		</div>
		<br>
		<p><i>Sorry about the blandness. For some reason the styles I have been trying add are not being applied.</i></p>
	</div>
</body>

</html>
